{
    "openapi": "3.0.0",
    "info": {
        "title": "Asset Management API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register user",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Admin"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|xXxXxX"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get authenticated user",
                "operationId": "8367feff40ba10e43187792cad3132c1",
                "responses": {
                    "200": {
                        "description": "User info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Admin"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "admin@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/departments": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get list of departments",
                "operationId": "e8478e3a557995e1da564073521762f6",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Department"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Departments"
                ],
                "summary": "Create a new department",
                "operationId": "9a3a8ebf7326b72fd181c15603cdd21e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "IT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Information Technology"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles IT infrastructure"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Department created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/departments/{id}": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get department detail",
                "operationId": "ba8d49f7da851631d9985375effc9b2d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Departments"
                ],
                "summary": "Update a department",
                "operationId": "883e32516e81142e7441bad60554a993",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "FIN"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Finance"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles company finances"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Department updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Departments"
                ],
                "summary": "Delete a department",
                "operationId": "4f695822af3d4a6db6f902305be6d0de",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Department deleted"
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/employees": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "List employees",
                "operationId": "b9b73e1873c5fe36b951f014f711e4fa",
                "parameters": [
                    {
                        "name": "department_id",
                        "in": "query",
                        "description": "Filter by department ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name, NIK, or email",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Employee"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Create employee",
                "operationId": "781d9d682a574c5e2c1dab17f782b5cd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nik",
                                    "name",
                                    "department_id",
                                    "tgl_masuk",
                                    "email"
                                ],
                                "properties": {
                                    "nik": {
                                        "type": "string",
                                        "example": "EMP001"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Budi Santoso"
                                    },
                                    "department_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "tgl_masuk": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-01-15"
                                    },
                                    "tgl_resign": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "tempat_lahir": {
                                        "type": "string",
                                        "example": "Jakarta"
                                    },
                                    "tgl_lahir": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1995-04-20"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "budi@example.com"
                                    },
                                    "no_tlp": {
                                        "type": "string",
                                        "example": "+628123456789"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Employee created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/employees/{id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Get employee detail",
                "operationId": "de09c8d9afb3f7114d227ad0645940ac",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Employees"
                ],
                "summary": "Update employee",
                "operationId": "55e1ceec679a0d1436c869735e984a83",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Employee"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Employee updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Employees"
                ],
                "summary": "Delete employee",
                "operationId": "dc1326c2f6b4bed0201d62396ddfd970",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Employee deleted"
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/grupasset": {
            "get": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Get list of Grup Asset",
                "operationId": "f8e07ad4c0fa71f88647efc500cf2df2",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrupAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Create a new Grup Asset",
                "operationId": "21aea6155248b400d743d38fda5a6f9a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "kode_Grup": {
                                        "type": "string",
                                        "example": "GRP001"
                                    },
                                    "nama_Grup": {
                                        "type": "string",
                                        "example": "Gudang Utama"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "GrupAsset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/grupasset/{id}": {
            "get": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Get Grup Asset detail",
                "operationId": "fd22f012b13a3b49f54d3c504f1c3bf3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Grup Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Update a Grup Asset",
                "operationId": "27f845636fefca2d29d462b3f22ba637",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "kode_Grup",
                                    "nama_Grup"
                                ],
                                "properties": {
                                    "kode_Grup": {
                                        "type": "string",
                                        "example": "GRP001"
                                    },
                                    "nama_Grup": {
                                        "type": "string",
                                        "example": "Gudang Utama"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Grup Asset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Grup Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lokasi-assets": {
            "get": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "List all asset locations",
                "operationId": "1ec5703fd999778b4942ec43c4a402e6",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LokasiAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Create a new asset location",
                "operationId": "f4c4b2baac548a7b77e315725ec2cdb3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "kode_lokasi",
                                    "nama_lokasi",
                                    "pic_id"
                                ],
                                "properties": {
                                    "kode_lokasi": {
                                        "type": "string",
                                        "example": "LOC002"
                                    },
                                    "nama_lokasi": {
                                        "type": "string",
                                        "example": "Gudang Sparepart"
                                    },
                                    "keterangan": {
                                        "type": "string",
                                        "example": "Penyimpanan sparepart"
                                    },
                                    "pic_id": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "asset_count": {
                                        "type": "integer",
                                        "example": 50
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Lokasi Asset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lokasi-assets/{id}": {
            "get": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Get detail of an asset location",
                "operationId": "4b98dcb6fa261d1fecdcf4da26908162",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Update asset location",
                "operationId": "60e932e80aac87b673bd1c738e6348db",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LokasiAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lokasi Asset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Delete asset location",
                "operationId": "bdb31b203ef397a7e2c8a413e0d765e5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lokasi Asset deleted"
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "List all master assets",
                "operationId": "39c43e461c9d41dd80a532add4f33345",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MasterAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Create new master asset",
                "operationId": "04d0294000791825ca4335242c6de971",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "KodeAsset",
                                    "NamaAsset",
                                    "TglBeli",
                                    "Jumlah"
                                ],
                                "properties": {
                                    "KodeAsset": {
                                        "type": "string",
                                        "example": "AST-001"
                                    },
                                    "NamaAsset": {
                                        "type": "string",
                                        "example": "Laptop Dell Latitude"
                                    },
                                    "TglBeli": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-10-01"
                                    },
                                    "TglKapitalisasi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-10-15"
                                    },
                                    "UmurPakai": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "Keterangan": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "Jumlah": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 15000000
                                    },
                                    "PIC": {
                                        "description": "Employee ID as PIC",
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "MasterAsset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{id}": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get master asset detail",
                "operationId": "1b6f627bcea3629e4270be9a3b862d4b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Update master asset",
                "operationId": "9fd9cbbdb060924de7f21e86776153ef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MasterAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "MasterAsset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "MasterAsset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Delete master asset",
                "operationId": "68a52ba04ec24b640c2192f91044f372",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "MasterAsset deleted"
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{id}/images": {
            "post": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Upload image(s) for a Master Asset",
                "operationId": "a46cc0a1dc5522ba6dbd35620220907c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "images[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Images uploaded successfully"
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{asset_id}/images/{image_id}": {
            "delete": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Delete an asset image",
                "operationId": "b95d51a27885630bbc094a9cd479c761",
                "parameters": [
                    {
                        "name": "asset_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Image deleted"
                    },
                    "404": {
                        "description": "Image not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{asset_id}/stock/{location_id}": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get stock of a master asset at a specific location",
                "operationId": "b2adbfe6386a358ccc37951d91778787",
                "parameters": [
                    {
                        "name": "asset_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stock": {
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-status-assets": {
            "get": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Ambil semua status asset",
                "operationId": "66cee0653a3d3c251cabe25417178185",
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MasterStatusAsset"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Tambah status asset",
                "operationId": "78cf1fc4ddb398efd3ce674fa47e14b1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "NamaStatusAsset"
                                ],
                                "properties": {
                                    "NamaStatusAsset": {
                                        "type": "string",
                                        "example": "Rusak"
                                    },
                                    "isDefault": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Berhasil menambahkan data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterStatusAsset"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/master-status-assets/{id}": {
            "put": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Update status asset",
                "operationId": "013239a65aaf520935c90fddcb29734a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MasterStatusAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterStatusAsset"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Hapus status asset",
                "operationId": "ae956723890e9ed1d6dcd4d7174ed3a2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil dihapus"
                    }
                }
            }
        },
        "/api/menus": {
            "get": {
                "tags": [
                    "Menu"
                ],
                "summary": "Get menu structure",
                "operationId": "54c2d937e1a32b13f880b49ce0444f34",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dashboard"
                                            },
                                            "url": {
                                                "type": "string",
                                                "example": "/dashboard"
                                            },
                                            "icon": {
                                                "type": "string",
                                                "example": "dashboard-icon"
                                            },
                                            "children": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Submenu"
                                                        },
                                                        "url": {
                                                            "type": "string",
                                                            "example": "/dashboard/submenu"
                                                        },
                                                        "icon": {
                                                            "type": "string",
                                                            "example": "submenu-icon"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Menus"
                ],
                "summary": "Create menu",
                "operationId": "31e1ddbd8da961fb496e3e2d46b53823",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Dashboard"
                                    },
                                    "url": {
                                        "type": "string",
                                        "example": "/dashboard"
                                    },
                                    "icon": {
                                        "type": "string",
                                        "example": "fas fa-home"
                                    },
                                    "permission_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "parent_id": {
                                        "type": "integer",
                                        "example": null
                                    },
                                    "order": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Menu created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Menu"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/menus/{id}": {
            "get": {
                "tags": [
                    "Menus"
                ],
                "summary": "Get menu detail",
                "operationId": "f21bb63f9fe1ea437a502e5116af01a8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Menu"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Menu not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Menus"
                ],
                "summary": "Update menu",
                "operationId": "88cfe38e1bda9aad62dbca6007b25422",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Menu"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Menu updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Menu"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Menu not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Menus"
                ],
                "summary": "Delete menu",
                "operationId": "e367f4eb9f2883c92645c50bbac63925",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu deleted"
                    },
                    "404": {
                        "description": "Menu not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/permintaan-assets": {
            "get": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "List semua permintaan asset",
                "operationId": "26b37094ceea1d01fbb9743892df2646",
                "responses": {
                    "200": {
                        "description": "Daftar permintaan asset",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PermintaanAssetHeader"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "Buat transaksi permintaan asset baru",
                "operationId": "06c3aa7ee0d47cc34508259853d2971c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "TglTransaksi",
                                    "Requester"
                                ],
                                "properties": {
                                    "TglTransaksi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-08"
                                    },
                                    "Requester": {
                                        "type": "string",
                                        "example": "Budi Santoso"
                                    },
                                    "Keterangan": {
                                        "type": "string",
                                        "example": "Permintaan laptop dan printer"
                                    },
                                    "details": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "KodeAsset",
                                                "NamaAsset",
                                                "Qty",
                                                "EstimasiHarga"
                                            ],
                                            "properties": {
                                                "KodeAsset": {
                                                    "type": "string",
                                                    "example": "AST-001"
                                                },
                                                "NamaAsset": {
                                                    "type": "string",
                                                    "example": "Laptop Lenovo Thinkpad"
                                                },
                                                "Qty": {
                                                    "type": "number",
                                                    "example": 2
                                                },
                                                "EstimasiHarga": {
                                                    "type": "number",
                                                    "example": 12000000
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Transaksi berhasil dibuat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermintaanAssetHeader"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/permintaan-assets/{id}": {
            "get": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "Ambil detail transaksi permintaan asset",
                "operationId": "a3cfaaafceec1906c8d6448887a219e0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermintaanAssetHeader"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "Update transaksi permintaan asset",
                "operationId": "05ca2a3ecdde54363098a4e01d87018a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PermintaanAssetHeader"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transaksi berhasil diupdate",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermintaanAssetHeader"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "Hapus transaksi permintaan asset",
                "operationId": "7e5bcf1d69076f0dff8357d81553d53a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil dihapus"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/permintaan-assets-bytrx/{noTransaksi}": {
            "get": {
                "tags": [
                    "PermintaanAsset"
                ],
                "summary": "Ambil detail transaksi permintaan asset Berdasarkan NoTransaksi",
                "operationId": "0e3100a5e73b28f3c7afef1616acacd0",
                "parameters": [
                    {
                        "name": "noTransaksi",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermintaanAssetHeader"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/permintaan-scrap": {
            "get": {
                "tags": [
                    "PermintaanScrap"
                ],
                "summary": "Ambil semua permintaan scrap (dengan filter optional tglawal, tglakhir, status)",
                "operationId": "e0b34d8f30b40257230604c88fec17ba",
                "parameters": [
                    {
                        "name": "tglawal",
                        "in": "query",
                        "description": "Tanggal awal filter",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "tglakhir",
                        "in": "query",
                        "description": "Tanggal akhir filter",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter status dokumen (open/close/batal)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PermintaanScrapHeader"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "PermintaanScrap"
                ],
                "summary": "Tambah permintaan scrap baru",
                "operationId": "0b85a711e351ebf0f5093a1dcf396065",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PermintaanScrapHeader"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sukses"
                    }
                }
            }
        },
        "/api/permintaan-scrap/{id}": {
            "get": {
                "tags": [
                    "PermintaanScrap"
                ],
                "summary": "Ambil detail permintaan scrap berdasarkan ID",
                "operationId": "4e9bf20100ee9bdeba0590eb93638e71",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PermintaanScrapHeader"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "PermintaanScrap"
                ],
                "summary": "Update permintaan scrap",
                "operationId": "8255eafe486694ee1c6402254c1bafbc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PermintaanScrapHeader"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sukses"
                    }
                }
            },
            "delete": {
                "tags": [
                    "PermintaanScrap"
                ],
                "summary": "Hapus permintaan scrap (soft delete)",
                "operationId": "b641ca1dbbc5331e19ff844868a9658b",
                "responses": {
                    "200": {
                        "description": "Berhasil dihapus"
                    }
                }
            }
        },
        "/api/permintaan-scrap/{id}/approval": {
            "patch": {
                "tags": [
                    "Permintaan Scrap"
                ],
                "summary": "Approve atau Reject Permintaan Scrap",
                "operationId": "b810c599d0bf6e13458ae8b37100b9cf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Approval": {
                                        "type": "integer",
                                        "enum": [
                                            1,
                                            9
                                        ]
                                    },
                                    "KeteranganApproval": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Status approval diperbarui"
                    }
                }
            }
        },
        "/api/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Get list of permissions",
                "operationId": "a49af5d462a91e9996aa5342b6de4ddd",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "view_users"
                                            },
                                            "label": {
                                                "type": "string",
                                                "example": "View Users"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Create a new permission",
                "operationId": "6ef531e33f8fca9c42d3e8fcaf30d5b4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "edit_users"
                                    },
                                    "label": {
                                        "type": "string",
                                        "example": "Edit Users"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Permission created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Permission created"
                                        },
                                        "permission": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "edit_users"
                                                },
                                                "label": {
                                                    "type": "string",
                                                    "example": "Edit Users"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/permissions/{id}": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Get permission details",
                "operationId": "16db55c19d22dca89994e416d7dd28be",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Permission ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "view_users"
                                        },
                                        "label": {
                                            "type": "string",
                                            "example": "View Users"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Update a permission",
                "operationId": "c5094a50888fb3f3f1254fea3140241a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Permission ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "edit_users"
                                    },
                                    "label": {
                                        "type": "string",
                                        "example": "Edit Users"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Permission updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Permission updated"
                                        },
                                        "permission": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "edit_users"
                                                },
                                                "label": {
                                                    "type": "string",
                                                    "example": "Edit Users"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Permissions"
                ],
                "summary": "Delete a permission",
                "operationId": "d0a14d107d6e379b9b3b5207f5c76e8e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Permission ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Permission deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Permission deleted"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/roles": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "summary": "Get list of roles",
                "operationId": "ca86f0a206144dfbd695b749b4b28f9d",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
[...]
