{
    "openapi": "3.0.0",
    "info": {
        "title": "Asset Management API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/asset-counts": {
            "get": {
                "tags": [
                    "Asset Count"
                ],
                "summary": "Menampilkan daftar histori asset count (header) dengan filter",
                "operationId": "1d7e8ccb92c07287a34f7a2da50dfaaa",
                "parameters": [
                    {
                        "name": "TglAwal",
                        "in": "query",
                        "description": "Tanggal awal filter (format: YYYY-MM-DD)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "TglAkhir",
                        "in": "query",
                        "description": "Tanggal akhir filter (format: YYYY-MM-DD)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "LokasiID",
                        "in": "query",
                        "description": "Filter berdasarkan ID Lokasi",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "AssetGrupID",
                        "in": "query",
                        "description": "Filter berdasarkan ID Grup Aset yang ada di dalam transaksi",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HeaderAssetCount"
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal, parameter tanggal wajib diisi"
                    }
                }
            },
            "post": {
                "tags": [
                    "Asset Count"
                ],
                "summary": "Membuat transaksi asset count baru (Add)",
                "operationId": "50d86a7cc6b731494e1862f3252773ce",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "NoTransaksi",
                                    "TglTransaksi",
                                    "PICID",
                                    "LokasiID",
                                    "details"
                                ],
                                "properties": {
                                    "NoTransaksi": {
                                        "type": "string",
                                        "example": "AC/2025/10/002"
                                    },
                                    "TglTransaksi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-18"
                                    },
                                    "PICID": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "LokasiID": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "details": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "AssetID",
                                                "LineNumber",
                                                "Jumlah"
                                            ],
                                            "properties": {
                                                "AssetID": {
                                                    "type": "integer",
                                                    "example": 101
                                                },
                                                "LineNumber": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "Jumlah": {
                                                    "type": "integer",
                                                    "example": 20
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Data berhasil dibuat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HeaderAssetCount"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal"
                    }
                }
            }
        },
        "/api/asset-counts/{id}": {
            "get": {
                "tags": [
                    "Asset Count"
                ],
                "summary": "Menampilkan detail sebuah transaksi asset count",
                "operationId": "a86819b20d4711e750dd370687fe1f43",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HeaderAssetCount"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                }
            },
            "put": {
                "tags": [
                    "Asset Count"
                ],
                "summary": "Mengupdate transaksi asset count (header dan semua detail sekaligus)",
                "description": "Endpoint ini menangani update header, penambahan detail baru, update detail yang ada, dan penghapusan detail dalam satu panggilan API.",
                "operationId": "387f7a4c298b484803ea67922e8f78b0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "TglTransaksi",
                                    "PICID",
                                    "LokasiID",
                                    "details"
                                ],
                                "properties": {
                                    "TglTransaksi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-10-18"
                                    },
                                    "PICID": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "LokasiID": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "details": {
                                        "description": "Array lengkap dari semua detail. Kirim 'id' untuk item yang sudah ada, jangan kirim 'id' untuk item baru.",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "ID detail (opsional, hanya untuk update)",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "AssetID": {
                                                    "type": "integer",
                                                    "example": 101
                                                },
                                                "LineNumber": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "Jumlah": {
                                                    "type": "integer",
                                                    "example": 99
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Transaksi berhasil diupdate",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HeaderAssetCount"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal"
                    },
                    "404": {
                        "description": "Data tidak ditemukan"
                    }
                }
            }
        },
        "/api/reports/assets": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get a filtered list of assets for reporting",
                "operationId": "d19f86cdd0e1d0dc055c413b9f5475ab",
                "parameters": [
                    {
                        "name": "kondisi",
                        "in": "query",
                        "description": "Filter by asset condition ('Baik' or 'Repair')",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Baik",
                                "Repair"
                            ]
                        }
                    },
                    {
                        "name": "status_id",
                        "in": "query",
                        "description": "Filter by asset status ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "department_id",
                        "in": "query",
                        "description": "Filter by department ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "lokasi_id",
                        "in": "query",
                        "description": "Filter by asset location ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "NoAsset": {
                                                "type": "string",
                                                "example": "AST-001"
                                            },
                                            "NamaAsset": {
                                                "type": "string",
                                                "example": "Laptop Dell"
                                            },
                                            "PerkiraanHarga": {
                                                "type": "number",
                                                "format": "float",
                                                "example": 15000000
                                            },
                                            "Jumlah": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "PIC": {
                                                "type": "string",
                                                "example": "John Doe"
                                            },
                                            "Departemen": {
                                                "type": "string",
                                                "example": "IT"
                                            },
                                            "Lokasi": {
                                                "type": "string",
                                                "example": "Gudang Utama"
                                            },
                                            "StatusAsset": {
                                                "type": "string",
                                                "example": "Aktif"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Register user",
                "operationId": "8e4e3cb7b46126f4696379d3c7eeb4ad",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Admin"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Successful registration",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login user",
                "operationId": "222b2625838e3c57e017987f73598fda",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "admin@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string",
                                            "example": "1|xXxXxX"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Admin"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@example.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout user",
                "operationId": "ad65cbbd4e9f201619eae184a5961a98",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get authenticated user",
                "operationId": "8367feff40ba10e43187792cad3132c1",
                "responses": {
                    "200": {
                        "description": "User info",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Admin"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "admin@example.com"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/company-settings": {
            "get": {
                "tags": [
                    "Company Settings"
                ],
                "summary": "Get company settings",
                "operationId": "8175266b0213efbeee9f076605e18dbe",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompanySetting"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company Settings"
                ],
                "summary": "Create or update company settings",
                "operationId": "5286bf12ac014367fe71e37d117810e8",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CompanySetting"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Settings saved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompanySetting"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard/summary": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get asset summary",
                "operationId": "b0f3eed2d4a9db655b2770f980fec899",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data summary asset berhasil diambil."
                                        },
                                        "data": {
                                            "properties": {
                                                "total_asset": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "asset_baik": {
                                                    "type": "integer",
                                                    "example": 95
                                                },
                                                "asset_repair": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard/summary-by-group": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get asset summary by group",
                "operationId": "f77e13d3e1ec1d2846617ca342892bca",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data summary asset per grup berhasil diambil."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "grup_asset": {
                                                        "type": "string",
                                                        "example": "Elektronik"
                                                    },
                                                    "total_asset": {
                                                        "type": "integer",
                                                        "example": 50
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard/repair-summary-by-month": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get asset repair summary by month",
                "operationId": "4b5c06a4782f61b13cde2283c910d693",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data summary perbaikan asset per bulan berhasil diambil."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "bulan": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "total_qty": {
                                                        "type": "integer",
                                                        "example": 15
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard/summary-by-department": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get asset summary by department",
                "operationId": "1ac4a8715e9bf2ab3081ae2c2ca2a594",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data summary asset per departemen berhasil diambil."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "namadept": {
                                                        "type": "string",
                                                        "example": "IT"
                                                    },
                                                    "total_asset": {
                                                        "type": "integer",
                                                        "example": 50
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/dashboard/summary-by-location": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get asset summary by location",
                "operationId": "92690a1a7226e34857806b5d7e49ce4b",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data summary asset per lokasi berhasil diambil."
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "namalokasi": {
                                                        "type": "string",
                                                        "example": "Gudang"
                                                    },
                                                    "total_asset": {
                                                        "type": "integer",
                                                        "example": 50
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/departments": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get list of departments",
                "operationId": "e8478e3a557995e1da564073521762f6",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Department"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Departments"
                ],
                "summary": "Create a new department",
                "operationId": "9a3a8ebf7326b72fd181c15603cdd21e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "IT"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Information Technology"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles IT infrastructure"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Department created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/departments/{id}": {
            "get": {
                "tags": [
                    "Departments"
                ],
                "summary": "Get department detail",
                "operationId": "ba8d49f7da851631d9985375effc9b2d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Departments"
                ],
                "summary": "Update a department",
                "operationId": "883e32516e81142e7441bad60554a993",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "code",
                                    "name"
                                ],
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "example": "FIN"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Finance"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Handles company finances"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Department updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Department"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Departments"
                ],
                "summary": "Delete a department",
                "operationId": "4f695822af3d4a6db6f902305be6d0de",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Department deleted"
                    },
                    "404": {
                        "description": "Department not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/employees": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "List employees",
                "operationId": "b9b73e1873c5fe36b951f014f711e4fa",
                "parameters": [
                    {
                        "name": "department_id",
                        "in": "query",
                        "description": "Filter by department ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by name, NIK, or email",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Employee"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Employees"
                ],
                "summary": "Create employee",
                "operationId": "781d9d682a574c5e2c1dab17f782b5cd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nik",
                                    "name",
                                    "department_id",
                                    "tgl_masuk",
                                    "email"
                                ],
                                "properties": {
                                    "nik": {
                                        "type": "string",
                                        "example": "EMP001"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Budi Santoso"
                                    },
                                    "department_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "tgl_masuk": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2020-01-15"
                                    },
                                    "tgl_resign": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "tempat_lahir": {
                                        "type": "string",
                                        "example": "Jakarta"
                                    },
                                    "tgl_lahir": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "1995-04-20"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "budi@example.com"
                                    },
                                    "no_tlp": {
                                        "type": "string",
                                        "example": "+628123456789"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Employee created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/employees/{id}": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Get employee detail",
                "operationId": "de09c8d9afb3f7114d227ad0645940ac",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Employees"
                ],
                "summary": "Update employee",
                "operationId": "55e1ceec679a0d1436c869735e984a83",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Employee"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Employee updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Employee"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Employees"
                ],
                "summary": "Delete employee",
                "operationId": "dc1326c2f6b4bed0201d62396ddfd970",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Employee deleted"
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/grupasset": {
            "get": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Get list of Grup Asset",
                "operationId": "f8e07ad4c0fa71f88647efc500cf2df2",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GrupAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Create a new Grup Asset",
                "operationId": "21aea6155248b400d743d38fda5a6f9a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "kode_Grup": {
                                        "type": "string",
                                        "example": "GRP001"
                                    },
                                    "nama_Grup": {
                                        "type": "string",
                                        "example": "Gudang Utama"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "GrupAsset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/grupasset/{id}": {
            "get": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Get Grup Asset detail",
                "operationId": "fd22f012b13a3b49f54d3c504f1c3bf3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Grup Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Grup Asset"
                ],
                "summary": "Update a Grup Asset",
                "operationId": "27f845636fefca2d29d462b3f22ba637",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "kode_Grup",
                                    "nama_Grup"
                                ],
                                "properties": {
                                    "kode_Grup": {
                                        "type": "string",
                                        "example": "GRP001"
                                    },
                                    "nama_Grup": {
                                        "type": "string",
                                        "example": "Gudang Utama"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Grup Asset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GrupAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Grup Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-asset/import-bulk": {
            "post": {
                "tags": [
                    "MasterAsset"
                ],
                "summary": "Import bulk master asset dari file Excel/CSV",
                "operationId": "6f0dee234bfd72532de59ecd0dbdef8c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "file": {
                                        "description": "File Excel (xlsx, xls, csv) yang akan diimport.",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Import berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Import bulk asset berhasil."
                                        },
                                        "summary": {
                                            "properties": {
                                                "total_rows": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "created_assets": {
                                                    "type": "integer",
                                                    "example": 15
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi data gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Validasi data gagal."
                                        },
                                        "errors": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/lokasi-assets": {
            "get": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "List all asset locations",
                "operationId": "1ec5703fd999778b4942ec43c4a402e6",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LokasiAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Create a new asset location",
                "operationId": "f4c4b2baac548a7b77e315725ec2cdb3",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "kode_lokasi",
                                    "nama_lokasi",
                                    "pic_id"
                                ],
                                "properties": {
                                    "kode_lokasi": {
                                        "type": "string",
                                        "example": "LOC002"
                                    },
                                    "nama_lokasi": {
                                        "type": "string",
                                        "example": "Gudang Sparepart"
                                    },
                                    "keterangan": {
                                        "type": "string",
                                        "example": "Penyimpanan sparepart"
                                    },
                                    "pic_id": {
                                        "type": "integer",
                                        "example": 4
                                    },
                                    "asset_count": {
                                        "type": "integer",
                                        "example": 50
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Lokasi Asset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lokasi-assets/{id}": {
            "get": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Get detail of an asset location",
                "operationId": "4b98dcb6fa261d1fecdcf4da26908162",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Update asset location",
                "operationId": "60e932e80aac87b673bd1c738e6348db",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LokasiAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lokasi Asset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LokasiAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "LokasiAssets"
                ],
                "summary": "Delete asset location",
                "operationId": "bdb31b203ef397a7e2c8a413e0d765e5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lokasi Asset deleted"
                    },
                    "404": {
                        "description": "Lokasi not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "List all master assets",
                "operationId": "39c43e461c9d41dd80a532add4f33345",
                "parameters": [
                    {
                        "name": "GrupAssetID",
                        "in": "query",
                        "description": "Filter by Grup Asset ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MasterAsset"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Create new master asset",
                "operationId": "04d0294000791825ca4335242c6de971",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "KodeAsset",
                                    "NamaAsset",
                                    "TglBeli",
                                    "Jumlah"
                                ],
                                "properties": {
                                    "KodeAsset": {
                                        "type": "string",
                                        "example": "AST-001"
                                    },
                                    "NamaAsset": {
                                        "type": "string",
                                        "example": "Laptop Dell Latitude"
                                    },
                                    "TglBeli": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-10-01"
                                    },
                                    "TglKapitalisasi": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-10-15"
                                    },
                                    "UmurPakai": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "Keterangan": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "Jumlah": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 15000000
                                    },
                                    "PIC": {
                                        "description": "Employee ID as PIC",
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "MasterAsset created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{id}": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get master asset detail",
                "operationId": "1b6f627bcea3629e4270be9a3b862d4b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Update master asset",
                "operationId": "9fd9cbbdb060924de7f21e86776153ef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MasterAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "MasterAsset updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterAsset"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "MasterAsset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Delete master asset",
                "operationId": "68a52ba04ec24b640c2192f91044f372",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "MasterAsset deleted"
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{id}/images": {
            "post": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Upload image(s) for a Master Asset",
                "operationId": "a46cc0a1dc5522ba6dbd35620220907c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "images[]": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "format": "binary"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Images uploaded successfully"
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{asset_id}/images/{image_id}": {
            "delete": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Delete an asset image",
                "operationId": "b95d51a27885630bbc094a9cd479c761",
                "parameters": [
                    {
                        "name": "asset_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "image_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Image deleted"
                    },
                    "404": {
                        "description": "Image not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{asset_id}/stock/{location_id}": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get stock of a master asset at a specific location",
                "operationId": "b2adbfe6386a358ccc37951d91778787",
                "parameters": [
                    {
                        "name": "asset_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "location_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "stock": {
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Asset not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-assets/{kodeAsset}/location-stock-summary": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get asset stock summary by location",
                "operationId": "bbbfc1f6a6ab1bd2bfbfabdc5334d204",
                "parameters": [
                    {
                        "name": "kodeAsset",
                        "in": "path",
                        "description": "Kode Asset",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "KodeLokasi": {
                                                "type": "string"
                                            },
                                            "NamaLokasi": {
                                                "type": "string"
                                            },
                                            "total_stock": {
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Data not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/lokasi-with-stock/{lokasiID?}": {
            "get": {
                "tags": [
                    "MasterAssets"
                ],
                "summary": "Get locations with asset stock, optionally filtered by location ID",
                "operationId": "93ecff0e65d01da67b32478e9ef28393",
                "parameters": [
                    {
                        "name": "lokasiID",
                        "in": "path",
                        "description": "Optional ID of the location to filter by",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/master-status-assets": {
            "get": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Ambil semua status asset",
                "operationId": "66cee0653a3d3c251cabe25417178185",
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MasterStatusAsset"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Tambah status asset",
                "operationId": "78cf1fc4ddb398efd3ce674fa47e14b1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "NamaStatusAsset"
                                ],
                                "properties": {
                                    "NamaStatusAsset": {
                                        "type": "string",
                                        "example": "Rusak"
                                    },
                                    "isDefault": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Berhasil menambahkan data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterStatusAsset"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/master-status-assets/{id}": {
            "put": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Update status asset",
                "operationId": "013239a65aaf520935c90fddcb29734a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MasterStatusAsset"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Sukses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterStatusAsset"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "MasterStatusAsset"
                ],
                "summary": "Hapus status asset",
                "operationId": "ae956723890e9ed1d6dcd4d7174ed3a2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Berhasil dihapus"
                    }
                }
            }
        },
        "/api/menus": {
            "get": {
                "tags": [
                    "Menu"
                ],
                "summary": "Get menu structure",
                "operationId": "54c2d937e1a32b13f880b49ce0444f34",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Dashboard"
                                            },
                                            "url": {
                                                "type": "string",
                                                "example": "/dashboard"
                                            },
                                            "icon": {
                                                "type": "string",
                                                "example": "dashboard-icon"
                                            },
                                            "children": {
                                                "type": "array",
                                                "items": {
                                                    "properties": {
[...]
